body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #0041C2; 
    font-family: 'Trebuchet MS', sans-serif;
    }
    
.landscape {
    max-width: 100%;
    height: auto;
    }

    
.breadcrumbs {
    width: 1337px;
    height: 110x;
    font-size: 35px;
    }
    
.slider {
    width: 1300px;
    height: 600px;
    border-radius: 50px;
    overflow: hidden;
    margin-left: 17px;
    }            
    
.slider figure {
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
    }

.slider figure img {
    width: 1300px;
    float: left;
    }
 
    @keyframes slider {
       0% {
          left: 0%;
       }
       10% {
          left: 0%;
       }
       20% {
          left: -100%;
       }
       30% {
          left: -100%;
       }
       40% {
          left: -200%;
       }
       50% {
          left: -200%;
       }
       60% {
          left: -300%;
       }
       70% {
          left: -300%;
       }
       80% {
          left: -400%;
       }
       90% {
          left: -400%;
       }
       100% {
          left: -500%;
       }
    }