html {
    scroll-behavior: smooth;
}
body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

/* NAVBAR */
.navbar {
    position: sticky;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #e5e7eb; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px 4px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand a img {
    width: 160px;
    height: auto;
    margin-left: 2vh;
}

.nav-link {
    display: block;
    padding: 8px 12px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: rgb(0, 161, 179);
    color: white;
}

.nav-link.active {
    background-color: rgb(0, 161, 179);
    color: white;
}

/* NAVBAR RESPONSIVENESS */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 50px;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        /* width: 100%;     */
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link {
        padding: 10px 0;
        width: 100%;
    }

    .nav-icon {
        margin-top: 0;
        margin-left: auto;
        cursor: pointer;
    }

    .nav-icon img {
        width: 32px;
    }
}


/* HOME */
.home-container {
    /* height: fit-content; */
    background-image: url("/assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.header h1 {
    font-size: 3.4em;
    margin: 0;
    font-weight: 900;
    /* width: 700vh; */
}

.header {
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20vh;
    /* width: 70vh; */
    height: auto;
    /* padding-top: 20vh; */
}

.subheader {
    width: 80vh;
}

.typing {
    color: rgb(0, 161, 179);
    white-space: nowrap;
    overflow: hidden;
    width: 80vh;
}

.cursor {
    content: "|";
    display: inline-block;
    animation: blink 1s infinite step-start;
}

.home-desc {
    font-size: 1.3em;
    word-break: keep-all;
    width: 80vh;
}

.resume {
    background-color: white;
    padding: 15px 20px;
    border: 3px solid rgb(0, 161, 179);
    border-radius: 6px;
    cursor: pointer;
    width: 30vh;
    color: rgb(0, 161, 179);
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 20px;
    position: relative;
    overflow: visible;
    text-align: center;
    margin-top: 30px;
}

.resume:hover {
    background-color: rgb(0, 161, 179);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.resume:active {
    background-color: rgb(0, 161, 179);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
  }
  
.dev {
    width: auto;
    position: absolute;
    right: 10%;
    top: 20%;
    animation: bounce 2s ease-in-out;
    height: 100vh;
}
 
@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
}

/* HOME RESPONSIVENESS */
@media (max-width: 768px) {
    .home-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* position: relative; */
        background-position: 10%;
        height: 300vh;
        width: 110vh;
        background-clip: content-box;
        top: -20vw;
    }

    .header {
        width: 80vh;
        padding-top: 80vh;
        padding-left: 3vh;
        text-align: left;
    }

    .header h1 {
        font-size: 4.8rem; /* Increased for better readability */
    }

    .home-desc {
        font-size: 2.8rem; /* Increased for better readability */
    }

    .resume {
        width: 70vw;
        font-size: 18px; /* Slightly larger */
    }

    .dev {
        display: none;
    }
}


/* ABOUT ME */
.about-container {
    display: block;
    background-color: #f3f4f6;
    position: relative;
    width: auto;
    /* top: 1rem; */
    text-justify: auto;
    padding: 6%;
    padding-left: 16px; 
    padding-right: 16px; 
    height: fit-content;
}

.about-me p{
    margin-top: 2rem;
    font-size: 1.25rem;
    text-align: justify;
    color: #6B7280;
}

.tech-container {
    justify-content: space-between;
    /* margin: 5rem; */
    padding-inline: 10rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    gap: 1rem;

}

.tech-card {
    display: flex;
    align-items: center;
    padding-inline: .9rem;
    background-color: #ffffff;
    margin: .9rem;
    border-radius: 0.5rem;
    transition: transform 0.3s;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box; 
}

.icon {
    width: 3rem;
    height: 3rem;
}

.tech-card h4 {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    margin-top: 3vh;
}

.about-me, .tech, .provide, .built, .contact-sub {
    padding-inline: 10%;
}

/* ABOUT ME RESPONSIVENESS */

@media (max-width: 768px) {
    .tech-container {
        grid-template-columns: repeat(2, 1fr);  
        gap: 1rem;
    }

    .tech-card {
        width: 100%;
        margin: 1rem 0;
    }

    .about-me h4,
    .tech h4 {
        font-size: 2rem; /* Larger heading */
    }

    .about-me p,
    .tech p {
        font-size: 1.4rem; /* Increased for better readability */
    }
}


/* SERVICES */
.photo-container {
    display: flex;
    flex-direction: row;
    padding-inline: 8%;
    justify-content: center;
}

.photo-card {
    width: 400px;
    height: 450px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
    margin: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.photo-card img {
    height: 420px;
    width: 100%;
}

/*SERVICES RESPONSIVENESS */
@media (max-width: 768px) {
    .service-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-card {
        width: 100%;
        margin: 1rem;
    }

    .about-container h2, .services-container h2, .projects-container h2, .contact-container h2 {
        font-size: 9rem; 
    }
}

.about-container h2, .services-container h2, .projects-container h2, .contact-container h2 {
    font-size: 3rem; 
    font-weight: bold; 
    text-align: center;
    margin: 0;
    
}


/* PROJECTS */
.projects-container {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    position: relative;
    width: auto;
    top: 5rem;
    text-justify: auto;
    padding-left: 16px; 
    padding-right: 16px; 
    height: fit-content;
}

.cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    padding-inline: 10%;
}
.project-card {
    width: calc(48% - 16px);
    background-color: #1F2937;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.project-content {
    padding: 20px;
}
.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 12px;
    margin-top: auto;
}

.project-description {
    font-size: 1rem;
    color: #9cafa3;
    margin-bottom: 16px;
}
.project-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    background-color: #3b82f6;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: none;
}

.project-button:hover {
    background-color: #2563eb;
}
.project-button svg, .show-more-button svg {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.show-more-button {
    display: block;
    width: 140px;
    padding: 16px;
    margin: 0 auto;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: background-color 0.3s ease;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.show-more-button:hover {
    background-color: #1e40af;
}

/* PROJECTS RESPONSIVENESSS */
@media (max-width: 768px) {
    .cards-wrapper {
        flex-direction: column;
        padding-inline: 5%;
    }

    .project-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* CONTACT */
.contact-container {
    display: block;
    background-color: #f3f4f6;
    position: relative;
    width: auto;
    top: 4rem;
    text-justify: auto;
    padding: 3%;
    padding-left: 16px; 
    padding-right: 16px; 
    height: fit-content;
}

.contact-sub h4 {
    margin-top: 3rem;
    font-size: 1.875rem;
    font-weight: 600;
    color: #3B82F6;
}
.contact-sub p {
    margin-top: 1rem;
    font-size: 1.25rem;
    text-align: left;
    color: #6B7280;
}

.contact-section {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-inline: 10%;
}

@media (min-width: 768px) {
    .contact-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
}

.form-container {
    width: 100%;
    padding-right: 8px;
}

.form-group {
    margin-bottom: 24px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #111827;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    color: #ffffff;
    background-color: #374151;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.25);
}

.form-group textarea {
    height: 112px;
    resize: none;
}

::placeholder {
    color: #ffffff;
    opacity: .5; /* Firefox */
  }
  
.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.direct-email {
    text-decoration: underline;
    color: #000000;
    font-weight: 500;
}

.email {
    background-color: #6366f1;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 170px;
}

.email:hover {
    background-color: #4f46e5;
}

.email a{
    text-decoration: none;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 450;
    font-size: 1rem;
}
.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

@media (min-width: 768px) {
    .contact-info {
        align-items: flex-end;
        margin-top: 0;
    }
}

.contact-info h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.info-link {
    margin-bottom: 24px;
    font-weight: 600;
    color: #2563eb;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
}

.social-links {
    position: relative;
    justify-content: flex-start; 
    margin-top: 30px;
    display: flex;
    gap: 20px;
    padding-inline: 0%;
}

.social-links li {
    list-style: none;
}

.social-links img {
    cursor: pointer;
    width: 45px;
}

.social-links img:hover {
    transform: scale(1.2);
}

/* CONTACT RESPONSIVENESS */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        padding: 5%;
    }

    .form-container, .contact-info {
        width: 100%;
        margin-top: 16px;
    }

    .social-links img {
        justify-content: left;
        width: 60px;
    }
}

/* FOOTER */
.footer-container {
    width: 100%;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: 10px;
    margin-bottom: 10px;
}


.heart {
    color: red;
    padding: 0 10px;
    font-size: 24px;
}

/* Responsive adjustment for smaller screens */
@media (max-width: 768px) {
    .footer-container {
        font-size: 16px;
        margin-top: 40px;
    }
    .heart {
        font-size: 22px;
    }
}
